@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-conteudo: 'Sriracha', --fonte-padrao;
    --fonte-destaque: 'Passion One', cursive;
}

body {
    margin: 0;
}

/* Cabeçalho */
header {
    background-color: black;
    height: 200px;
    position: relative;
}

header > h1 {
    font: normal normal 4em var(--fonte-destaque);
    color: white;
    text-align: center;
    margin: 0px;

    left: 50%;
    top: 50%;

    position: absolute;
    transform: translate(-50%, -50%);
}

header > p {
    margin: 0px;
}

header > p > a {
    color: white;
    font: normal normal 1.3em var(--fonte-padrao);

    left: 50%;
    top: 75%;

    position: absolute;
    transform: translate(-50%, -50%);
}

/* Conteúdo principal */

p.estrofe {
    font: normal normal 1.7em var(--fonte-conteudo);
    max-width: 330px;
    margin: 20px;
    margin-left: 25px;
}

#joaninha {
    background-color: lightgray;
}

#papeis {
    background-color: lightgray;
}