@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-conteudo: 'Sriracha', --fonte-padrao;
    --fonte-destaque: 'Passion One', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: lightgray;
}

/* Cabeçalho */
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    font: normal normal 1.1em var(--fonte-padrao);
}

header > p > a {
    text-decoration: none;
    color: white;
}
/* Conteúdo principal */

p.estrofe {
    font: normal normal 1.7em var(--fonte-conteudo);
    max-width: 330px;
    margin: 20px;
    margin-left: 25px;
}

.imagem {
    background-position: center;
}
#joaninha {
    background-image: url('../imagens/background001.jpg');
    height: 50vh;
}

#papeis {
    background-image: url('../imagens/background002.jpg');
}